body {
    background-image: url("../pix/bg.jpg");
    background-repeat: repeat;
    font-family: Calibri, Arial, sans-serif !important;
    margin: 0 auto;
    max-width: 960px;
}

a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
    text-decoration: underline;
}

.hidden {
     visibility: hidden;
}

.hide {
     display: none;
}

.clear {
     clear: both;
}

.outline {
     text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
}

header {
    position: relative;
}

header h1 {
     color: #FFFFFF;
     float: left;
     font-size: 60pt;
     margin: 0px;
     width: 100%;
}

header h1 span.alt {
     color: #007DC6;
}

header img#crosshair {
     position: relative;
     right: 4px;
     top: 12px;
}

header h3#tagline {
     color: #FFFFFF;
     padding: 0px 0px 0px 10px;
}

header div#login {
    background-color: #007DC6;
    color: #FFFFFF;
    float: right;
    max-width: 250px;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

header div#login div#loginError {
    background-color: #FFBABA;
    border: 1px solid #FF0000;
    color: #FF0000;
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 2%;
    padding: 2%;
    text-align: left;
    width: 96%;
}

header div#login input {
    margin-bottom: 5px;
}

header div#login input[type=text],
header div#login input[type=password] {
    border: solid 1px #AAAAAA;
}

header div#login a#register {
    bottom: 14px;
    left: 10px;
    position: absolute;
}

header div#login .ajaxLoader {
    margin: 0 10px;
    position: relative;
    top: 10px;
    width: 40px;
}

header div#login form#logoutForm p {
    font-size: 16pt;
    font-weight: bold;
}

header div#banner {
    background: url("../pix/checkered.gif") repeat-x scroll left top #007DC6;
    height: 50px;
    margin-top: 30px;
    width: 100%;
}

header div#social {
     text-align: left;
     width: 100%;
}

header div#social img {
     width: 50px;
}

footer {
    color: #FFFFFF;
    font-size: 20pt;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

form#login {
    font-weight: bold;
}

form#login a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

form#login a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
}

form#login input[type=submit] {
    font-weight: bold;
}

form#login input[type=text]:focus,
form#login input[type=password]:focus {
    border: solid 2px #393939;
}

div#content {
    background-color: #007DC6;
    color: #FFFFFF;
    min-height: 400px;
    padding: 1%;
    position: relative;
    text-align: center;
}

#indexPageTitle {
    margin-bottom: 10px;
}

div#search {
     height: 70px;
     width: 100%;
}

div#search #searchForm {
     position: relative;
     text-align: center;
}

div#search input {
     border-radius: 4px;
     border: 4px solid #333333;
     font-family: Calibri,Arial,sans-serif;
     font-size: 70%;
     font-weight: bold;
     height: 30px;
     padding: 0px 0px 0px 10px;
     width: 50%;
}

img#searchButton,
img#geolocateButton {
    margin: 0 4px;
    position: relative;
    top: 14px;
    width: 25px;
}

div#search .ajaxLoader {
    float: right;
    position: absolute;
    right: 110px;
    top: 16px;
}

div#feedback {
    background-color: #FFBABA;
    border: 1px solid;
    color: #D8000C;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
}

p#notice {
     color: #FFFFFF;
     font-style: italic;
     margin: 0px;
     padding: 1%;
     text-align: center;
     width: 98%;
}

form#registrationForm {
    margin: 30px auto;
    width: 300px;
}

form#registrationForm .label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
}

form#registrationForm div.field {
    margin-bottom: 10px;
    width: 100%;
}

form#registrationForm div.field input {
    padding: 2%;
    width: 96%;
}

form#registrationForm input[type=text]:focus,
form#registrationForm input[type=password]:focus {
    border: solid 2px #393939;
}

.button {
    background-color: #333333;
    border: 4px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 6px 4px 2px #393939;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
    position: relative;
}

.button:hover {
     cursor: pointer;
}

.button:active {
    background-color: #007DC6;
    left: 4px;
    box-shadow: 2px 2px 1px #393939;
}

form#registrationForm input#submit {
    display: block;
    margin: 0 auto;
}

div.errorBox {
    background-color: #FFBABA;
    border: 1px solid;
    color: #D8000C;
    margin: 10px 0;
    padding: 5px;
    text-align: left;
}

div.errorBox h3 {
    margin: 0;
}

div.errorBox ul {
    list-style-type: none;
    margin: 0;
}

div#login .errorBox {
    margin: 0 0 4px;
}

div#customLocations {
    background-color: #333333;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

div#customLocations ul {
    margin: 10px 0;
}

div#customLocations ul li span:hover {
    cursor: pointer;
    text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
    text-decoration: underline;
}

div#customLocations form input[type=submit] {
    display: block;
    margin: 0 auto;
}

div#customLocations form img.ajaxLoader {
    float: right;
    left: -14px;
    position: relative;
    top: -33px;
    width: 40px;
}

div#customLocations img.deleteLocation {
    left: 10px;
    position: relative;
    top: 6px;
    width: 25px;
}

div#customLocations img.deleteLocation:hover {
    cursor: pointer;
}

div#customLocations img.deleteLocation:active {
    box-shadow: 0;
}

div#customLocations form input[type=text] {
    margin-bottom: 10px;
    width: 94%;
}

div#mapContainer {
    display: block;
    height: 0px;
    margin: 0 auto 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

div#resultsInfo {
    color: #FFFFFF;
    font-size: 16pt;
    font-style: italic;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: left;
}

div#mapCanvas {
     border-radius: 4px;
     border: 4px solid #333333;
     float: left;
     height: 400px;
     width: 70%;
}

#mapOverlay {
     background-image: url("../pix/bg.jpg");
     background-repeat: repeat;
     border-radius: 4px;
     border: 4px solid #333333;
     height: 400px;
     left: 0px;
     line-height: 400px;
     opacity: 0.75;
     position: absolute;
     top: 0;
     width: 70%;
}

#mapOverlay h1 {
     color: #FFFFFF;
     display: block;
     margin: auto 0px;
     opacity: 1 ! important;
     text-align: center;
     text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
}

#mapPanel {
    background-color: #333333;
    border: 4px solid #333333;
    border-radius: 4px;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 390px;
    overflow: auto;
    padding: 10px 0 0;
    position: relative;
    text-align: left;
    width: 28%;
}

#mapPanel #filters .ajaxLoader {
    float: right;
     position: absolute;
     height: 28px;
     left: 8px;
     top: 8px;
}

#mapPanel #filters select {
    display: block;
    margin-bottom: 20px;
    max-width: 96%;
    min-width: 54%;
}

#mapPanel #filters h3 {
    text-align: center;
}

#mapPanel h2 {
    color: #007DC6;
    margin: 0px 0px 10px;
    text-align: center;
}

div#forceInformation {
    background-color: #333333;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: left;
}

div#forceInformation a {
    color: #007DC6;
    text-decoration: none;
}

div#forceInformation h3 {
    margin: 10px 0 5px 0;
}

div#forceInformation .forceName {
    font-weight: bold;
}

div.inf-wdw {
    color: #333333;
    font-size: 12pt !important;
    height: 140px;
    text-align: left;
    width: 360px;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width: 300px;
     margin: 100px auto;
     background-color: #FFFFFF;
     border: 1px solid #000000;
     padding: 15px;
     text-align: center;
}