body {
    xbackground-image: url("../pix/bg.jpg");
    xbackground-repeat: repeat;
    background-color: #222222;
    font-family: Metrophobic, Arial, sans-serif !important;
    margin: 0 auto;
    max-width: 960px;
}

a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
    text-decoration: underline;
}

.hidden {
     visibility: hidden;
}

.hide {
     display: none;
}

.clear {
     clear: both;
}

.outline {
     text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
}

header {
    margin: 20px 0 0 0;
    position: relative;
}

header #siteTitle {
    color: #FFFFFF;
    font-size: 60pt;
    margin: 0px;
}

header #siteTitle span.alt {
    color: #007DC6;
}

header #siteTitle:hover {
    text-decoration: none;
}

header img#crosshair {
    position: relative;
    right: 4px;
    top: 12px;
}

header h4#tagline {
     color: #FFFFFF;
     margin: 10px 0;
     padding: 0px 0px 0px 10px;
}

header div#login {
    background-color: #007DC6;
    color: #FFFFFF;
    padding: 1%;
    width: 98%;
}

header div#login div#loginError {
    background-color: #FFBABA;
    border: 1px solid #FF0000;
    color: #FF0000;
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 2%;
    padding: 2%;
    text-align: left;
    width: 96%;
}

header #login #loginForm > *,
header #login #loginForm div > *,
header #login #logoutForm > *,
header #login #logoutForm div > * {
    display: inline-block;
    vertical-align: middle;
}

header #login #loginForm input[type=text],
header #login #loginForm input[type=password] {
    border: solid 1px #AAAAAA;
    margin-right: 10px;
}

header #login #loginForm .ajaxLoader {
    margin: 0 15px;
    width: 40px;
}

header #login #logoutForm {
    text-align: right;
}

header #login #logoutForm > * {
    display: inline-block;
    vertical-align: middle;
}

header #login #logoutForm .button {
    margin-left: 15px;
}

header div#banner {
    background: url("../pix/checkered.gif") repeat-x scroll left top #007DC6;
    height: 50px;
    width: 100%;
}

header div#social {
    text-align: left;
    width: 100%;
}

header div#social img {
    width: 50px;
}

footer {
    color: #FFFFFF;
    font-size: 20pt;
    font-weight: bold;
}

footer a {
    display: block;
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
}

footer h3 {
    text-align: center;
}

form#login {
    font-weight: bold;
}

form#login a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

form#login a:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
}

form#login input[type=submit] {
    font-weight: bold;
}

form#login input[type=text]:focus,
form#login input[type=password]:focus {
    border: solid 2px #393939;
}

div#content {
    background-color: #007DC6;
    color: #FFFFFF;
    min-height: 400px;
    padding: 1% 1% 2%;
    position: relative;
    text-align: center;
}

#indexPageTitle {
    margin-bottom: 10px;
}

div#search {
    width: 100%;
}

div#search #searchForm {
     position: relative;
     text-align: center;
}

div#search input {
     border-radius: 5px;
     border: 4px solid #222222;
     font-family: Share Tech, Arial, sans-serif !important;
     font-size: 70%;
     font-weight: bold;
     height: 30px;
     padding: 0px 0px 0px 10px;
     width: 50%;
}

img#searchButton,
img#geolocateButton {
    margin: 0 4px;
    position: relative;
    top: 14px;
    width: 25px;
}

div#search .ajaxLoader {
    left: 10px;
    position: relative;
    top: 15px;
}

div#feedback {
    background-color: #FFBABA;
    border: 1px solid;
    color: #D8000C;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
}

p#notice {
     color: #FFFFFF;
     margin: 0px;
     padding: 1%;
     text-align: center;
     width: 98%;
}

form#registrationForm {
    margin: 30px auto;
    width: 300px;
}

form#registrationForm .label {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
}

form#registrationForm div.field {
    margin-bottom: 10px;
    width: 100%;
}

form#registrationForm div.field input {
    padding: 2%;
    width: 96%;
}

form#registrationForm input[type=text]:focus,
form#registrationForm input[type=password]:focus {
    border: solid 2px #393939;
}

.button {
    background-color: #222222;
    border: 4px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 3px 3px 1px #393939;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
    position: relative;
}

.button:hover {
     cursor: pointer;
}

.button:active {
    background-color: #007DC6;
    left: 4px;
    box-shadow: 2px 2px 1px #393939;
}

form#registrationForm input#submit {
    display: block;
    margin: 0 auto;
}

div.errorBox {
    background-color: #FFBABA;
    border: 1px solid;
    color: #D8000C;
    margin: 10px 0;
    padding: 5px;
    text-align: left;
}

div.errorBox h3 {
    margin: 0;
}

div.errorBox ul {
    list-style-type: none;
    margin: 0;
}

div#login .errorBox {
    margin: 0 0 4px;
}

div#savedLocations ul {
    margin: 10px 0;
}

div#savedLocations ul li span:hover {
    cursor: pointer;
    text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
    text-decoration: underline;
}

div#savedLocations form img.ajaxLoader {
    left: 10px;
    position: relative;
    top: 10px;
    width: 40px;
}

div#savedLocations img.deleteLocation {
    left: 10px;
    position: relative;
    top: 6px;
    width: 25px;
}

div#savedLocations img.deleteLocation:hover {
    cursor: pointer;
}

div#savedLocations img.deleteLocation:active {
    box-shadow: 0;
}

div#savedLocations form input[type=text] {
    margin-bottom: 10px;
    max-width: 90%;
    width: 300px;
}

div#mapContainer {
    border: 5px solid #222222;
    border-radius: 5px;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 98%;
}

div#resultsInfo {
    color: #FFFFFF;
    font-size: 16pt;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: left;
}

div#mapCanvas {
    float: left;
    height: 530px;
    width: 100%;
}

#mapOverlay {
    background-image: url("../pix/bg.jpg");
    background-repeat: repeat;
    height: 530px;
    left: 0;
    line-height: 530px;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
}

#mapOverlay h1 {
     color: #FFFFFF;
     display: block;
     margin: auto 0px;
     opacity: 1 !important;
     text-align: center;
     text-shadow: 0px 0px 0px #000000, -1px -1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, 1px 1px 0px #000000;
}

.section {
    background-color: #222222;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 10px auto 0;
    padding: 1% 2%;
    text-align: left;
    width: 95%;
}

.section h2 {
    color: #007DC6;
    margin: 10px 0;
}

.section h4 {
    color: #007DC6;
    margin: 10px 0;
}

#mapFilters > * {
    display: inline-block;
    vertical-align: middle;
}

#mapFilters .ajaxLoader {
    float: right;
    position: absolute;
    height: 28px;
    left: 8px;
    top: 8px;
}

#mapFilters select {
    margin-right: 20px;
}

#mapFilters h2 {
    color: #007DC6;
    display: inline-block;
    margin: 0 10px 0 0;
}

div#forceInfo a {
    color: #007DC6;
    text-decoration: none;
}

div#forceInfo h3 {
    margin: 10px 0 5px 0;
}

div#forceInfo .forceName {
    font-weight: bold;
}

div.inf-wdw {
    color: #222222;
    font-size: 12pt !important;
    height: 140px;
    text-align: left;
    width: 360px;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width: 300px;
     margin: 100px auto;
     background-color: #FFFFFF;
     border: 1px solid #000000;
     padding: 15px;
     text-align: center;
}